In [243]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('C:/Users/sharv/Documents/Post Graduate Program In Data Science-PurdueSimpliLearn/Course3-Machine Learning/Projects/Projects for Submission/Project 1 - Mercedes-Benz Greener Manufacturing/train.csv')
df_test = pd.read_csv('C:/Users/sharv/Documents/Post Graduate Program In Data Science-PurdueSimpliLearn/Course3-Machine Learning/Projects/Projects for Submission/Project 1 - Mercedes-Benz Greener Manufacturing/test.csv')
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [244]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

# Q1> If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [245]:
zero_var_col=df_train.var()[df_train.var() == 0].index.values
print(zero_var_col)
# These 12 columns have zero variance. We will drop these columns.

['X11' 'X93' 'X107' 'X233' 'X235' 'X268' 'X289' 'X290' 'X293' 'X297'
 'X330' 'X347']

# Q2> Check for null and unique values for test and train sets.

In [246]:
np.sum(df_train.isnull().sum())
# No null values present in train dataset

0

In [247]:
np.sum(df_test.isnull().sum())
# No null values present in test dataset

0

In [248]:
# iterate through all the columns which has X in the name of the column
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

In [249]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [250]:
df_train=df_train.drop(columns=['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'])
df_train=df_train.drop(columns=['ID']) # we will also drop the ID column from train
df_test=df_test.drop(columns=['X11','X93','X107','X233','X235','X268','X289','X290','X293','X297','X330','X347'])
df_test=df_test.drop(columns=['ID']) # we will also drop the ID column from test
print(df_train.shape)
print(df_test.shape)

(4209, 365)
(4209, 364)

# Q3> Apply label encoder.

In [251]:
df_train.describe(include=['object'])

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     v     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [252]:
label_columns = df_train.describe(include=['object']).columns.values
label_columns

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

In [253]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for col in label_columns:
    le.fit(df_train[col].append(df_test[col]).values)
    df_train[col]=le.transform(df_train[col])
    df_test[col]=le.transform(df_test[col])

In [254]:
df_train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,37,23,20,0,3,27,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,37,21,22,4,3,31,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,24,24,38,2,3,30,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,24,21,38,5,3,30,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,24,23,38,5,3,14,3,13,0,...,0,0,0,0,0,0,0,0,0,0

# Q4> Perform dimensionality reduction.

In [255]:
# PCA:-retain the components that explain 98% of variance
from sklearn.decomposition import PCA
SHpca=PCA(0.98,svd_solver="full")

In [256]:
from sklearn.model_selection import train_test_split
y=df_train['y']
X=df_train.drop(columns=["y"])
x_train, x_valid, y_train, y_valid = train_test_split(X,y,test_size=0.2,random_state=1)
SHpca.fit(X)
print(SHpca.n_components_)
print(SHpca.explained_variance_ratio_)
# out of 365 columns there are only 12 columns or features which is having 98% of the variance in the entire dataset.
# Sum of first 5 entries is 92% which explains 92% of the variance in the my dataset out of 98%

12
[0.40868988 0.21758508 0.13120081 0.10783522 0.08165248 0.0140934
 0.00660951 0.00384659 0.00260289 0.00214378 0.00209857 0.00180388]

# Q5> Predict your test_df values using XGBoost.

In [257]:
x = df_train.drop(columns=["y"])
y= df_train['y']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size =0.3, random_state = 21)
import xgboost as xgb

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

from sklearn.decomposition import PCA
SHpca=PCA(0.98,svd_solver="full")
pca2_results_train = SHpca.fit_transform(x_train)
pca2_results_test = SHpca.transform(x_test)

D_train  = xgb.DMatrix(pca2_results_train, label = y_train)
D_test = xgb. DMatrix(pca2_results_test)

params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

model = xgb.train(params, D_train, 20) # we r not using ".fit" but the method is ".train". 20 is step-size/iteration
y_pred = model.predict(D_test)

In [258]:
# from sklearn.metrics import accuracy_score
# print("Accuracy:", accuracy_score(y_test,y_pred))
print("Root mean square error for test dataset: {}".format(np.round(np.sqrt(mean_squared_error(y_test, y_pred)), 2)))

Root mean square error for test dataset: 67.4

In [259]:
# Checking RMSE using RandomForestRegressor 

x = df_train.drop(columns=["y"])
y= df_train['y']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size =0.3, random_state = 21)

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

from sklearn.decomposition import PCA
SHpca=PCA(0.98,svd_solver="full")
pca2_results_train = SHpca.fit_transform(x_train)
pca2_results_test = SHpca.transform(x_test)

from sklearn.ensemble import RandomForestRegressor 
   # create regressor object 
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) 
  # fit the regressor with x and y data 
regressor.fit(pca2_results_train, y_train) 
print(regressor.get_params())

{'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'mse', 'max_depth': None, 'max_features': 'auto', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': 0, 'verbose': 0, 'warm_start': False}

In [260]:
# Predicting a new result
from sklearn import metrics
y_pred = regressor.predict(pca2_results_test)
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 8.882453354951497

In this train dataset, RandomForestRegressor performed better than XGBoost as RMSE value of RandomForestRegressor is less than XGBoost.