In [1]:
# VADER module for Sentimental Analysis

# Polarity Scores = 1 where (Positive + Negative + Neutral)
# e.g. (positive - 0.55 , negative - 0.4., neutral - 0.05)
#===========================================================
# Positive
# Negative
# Neutral

In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\sharv\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sentimentAnalyser = SentimentIntensityAnalyzer()

In [3]:
sent = "This was a good movie."

sentimentAnalyser.polarity_scores(sent)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [4]:
sent = "This was a good movie!"

sentimentAnalyser.polarity_scores(sent)

{'neg': 0.0, 'neu': 0.484, 'pos': 0.516, 'compound': 0.4926}

In [5]:
sent = "This was a GOOD movie!"

sentimentAnalyser.polarity_scores(sent)

{'neg': 0.0, 'neu': 0.433, 'pos': 0.567, 'compound': 0.6027}

In [6]:
sent = "GOOD movie!"

sentimentAnalyser.polarity_scores(sent)

{'neg': 0.0, 'neu': 0.203, 'pos': 0.797, 'compound': 0.6027}

In [10]:
# positive
# negative
# neutral
# Create a function that will return positive or negative depending on the score
# received

In [11]:
def sentimentLabelMaker(polarityScores):
    max_sentiment = max(polarityScores, key=polarityScores.get)
    return max_sentiment

In [12]:
sent = "GOOD movie!"
sentimentLabelMaker(sentimentAnalyser.polarity_scores(sent))

'pos'

In [13]:
max(sentimentAnalyser.polarity_scores(sent))

'pos'

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('C:/Users/sharv/Documents/Post Graduate Program In Data Science-PurdueSimpliLearn/Course4-NLP/Day 4(Sujata)/moviereviews.tsv' , sep='\t')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [17]:
df.dropna(inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1965 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 46.1+ KB

In [19]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [20]:
df['mylabels'] = df['review'].apply(lambda r : max(sentimentAnalyser.polarity_scores(r)))#sentimentAnalyser.polarity_scores(sent)

In [21]:
df.head()

  label                                             review mylabels
0   neg  how do films like mouse hunt get into theatres...      pos
1   neg  some talented actresses are blessed with a dem...      pos
2   pos  this has been an extraordinary year for austra...      pos
3   pos  according to hollywood movies made in last few...      pos
4   neg  my first press screening of 1998 and already i...      pos

In [22]:
df.iloc[0,1]

'how do films like mouse hunt get into theatres ? \r\nisn\'t there a law or something ? \r\nthis diabolical load of claptrap from steven speilberg\'s dreamworks studio is hollywood family fare at its deadly worst . \r\nmouse hunt takes the bare threads of a plot and tries to prop it up with overacting and flat-out stupid slapstick that makes comedies like jingle all the way look decent by comparison . \r\nwriter adam rifkin and director gore verbinski are the names chiefly responsible for this swill . \r\nthe plot , for what its worth , concerns two brothers ( nathan lane and an appalling lee evens ) who inherit a poorly run string factory and a seemingly worthless house from their eccentric father . \r\ndeciding to check out the long-abandoned house , they soon learn that it\'s worth a fortune and set about selling it in auction to the highest bidder . \r\nbut battling them at every turn is a very smart mouse , happy with his run-down little abode and wanting it to stay that way . \r\nthe story alternates between unfunny scenes of the brothers bickering over what to do with their inheritance and endless action sequences as the two take on their increasingly determined furry foe . \r\nwhatever promise the film starts with soon deteriorates into boring dialogue , terrible overacting , and increasingly uninspired slapstick that becomes all sound and fury , signifying nothing . \r\nthe script becomes so unspeakably bad that the best line poor lee evens can utter after another run in with the rodent is : " i hate that mouse " . \r\noh cringe ! \r\nthis is home alone all over again , and ten times worse . \r\none touching scene early on is worth mentioning . \r\nwe follow the mouse through a maze of walls and pipes until he arrives at his makeshift abode somewhere in a wall . \r\nhe jumps into a tiny bed , pulls up a makeshift sheet and snuggles up to sleep , seemingly happy and just wanting to be left alone . \r\nit\'s a magical little moment in an otherwise soulless film . \r\na message to speilberg : if you want dreamworks to be associated with some kind of artistic credibility , then either give all concerned in mouse hunt a swift kick up the arse or hire yourself some decent writers and directors . \r\nthis kind of rubbish will just not do at all . \r\n'

In [23]:
df.mylabels.value_counts()

pos    1965
Name: mylabels, dtype: int64

In [24]:
df['mylabelsFromCompound'] = df['review'].apply(lambda r : ['pos' if sentimentAnalyser.polarity_scores(r)['compound'] > 0 else 'neg'][0])#sentimentAnalyser.polarity_scores(sent)

In [25]:
df.head()

,label,review,mylabels,mylabelsFromCompound
0,neg,how do films like mouse hunt get into theatres...,pos,neg
1,neg,some talented actresses are blessed with a dem...,pos,neg
2,pos,this has been an extraordinary year for austra...,pos,pos
3,pos,according to hollywood movies made in last few...,pos,pos
4,neg,my first press screening of 1998 and already i...,pos,neg

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(df.label,df.mylabelsFromCompound)

0.6351145038167939